<h1>Reactivos : <small>básicos con FormBuilder</small></h1>

<hr>

<div class="row">
  <div class="col">
    <form (ngSubmit)="saveData()" [formGroup]="reactiveForm" autocomplete="off">

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="prodform">Producto</label>
        <div class="col-sm-9" id="prodform">
          <input type="text"
                 class="form-control"
                 placeholder="Nombre del producto"
                 name="producto"
                 required
                 formControlName="nombre">
          <span class="form-text text-danger"
                *ngIf="isInputInvalid('nombre')">
                El nombre debe contener 3 o más letras.
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="priceform">Precio</label>
        <div class="col-sm-9" id="priceform" >
          <input type="number"
                 class="form-control"
                 placeholder="Precio"
                 name="precio"
                 formControlName="precio"
                 required>
          <span class="form-text text-danger"
                *ngIf="isInputInvalid('precio')">
                El precio debe de ser mayor o igual a $0.
          </span>
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label" for="existencesform">Existencias</label>
        <div class="col-sm-9" id="existencesform">
          <input type="number"
                 class="form-control"
                 placeholder="Existencias del producto"
                 name="existencia"
                 formControlName="existencias"
                 required>
          <span class="form-text text-danger"
                *ngIf="isInputInvalid('existencias')">
                Las existencias deben de ser mayor o igual a 0.
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>

<h3>Datos del formulario</h3>
<div class="row">
  <div class="col">
    <span><b>Valid <em>(el formulario es válido)</em></b></span>
    <pre>{{reactiveForm.valid | json}}</pre>

    <span><b>Touched <em>(el usuario ha tocado el formulario)</em></b></span>
    <pre>{{reactiveForm.touched | json}}</pre>

    <span><b>Pristine <em>(no se ha cambiado ningún valor desde el inicio)</em></b></span>
    <pre>{{reactiveForm.pristine | json}}</pre>

    <span><b>Errores</b></span>
    <pre>{{reactiveForm.controls['nombre']?.errors | json}}</pre>
    <pre>{{reactiveForm.controls['precio']?.errors | json}}</pre>
    <pre>{{reactiveForm.controls['existencias']?.errors | json}}</pre>

    <span><b>Objeto</b></span>
    <pre>{{reactiveForm.value | json}}</pre>
  </div>
</div>
